h1 {
  text-align: center;
}

.row {
  margin-bottom: 0px;
}

.interface {
  display: block;
  margin: 50px auto;
  border: 1px #878787 solid;
  border-radius: 5px;
  padding: 20px;
  transition: 300ms ease-in-out all;
  box-shadow: 3px 3px 5px #878787;
}

.search:hover {
  cursor: pointer;
  opacity: 0.7;
}

.locator {
  padding: 5px 5px;
  color: #878787;
  text-decoration: underline;
  transition: 300ms ease-in-out all;
}

.locator:hover {
  cursor: pointer;
  opacity: 0.7;
}

.city {
  color: #878787;
  margin-top: 15px;
}

.temp {
  font-size: 50px;
}

.icon {
  text-align: center;
  font-size: 120px;
}

.left {
  padding-left: 20px;
}

.right {
  margin-top: 25px;
  line-height: 0.5;
  font-weight: bold;
  color: #878787;
  padding-left: 20px;
}

.bottom {
  text-align: center;
  color: #878787;
  line-height: 0.6;
  margin-top: 50px;
}

.bottom-icon {
  font-size: 40px;
}

.converter {
  margin-left: 5px;
  color: #878787;
  text-decoration: underline;
  transition: 300ms ease-in-out all;
}

.converter:hover {
  cursor: pointer;
  opacity: 0.7;
}
